<div class="col-xs-12 col-md-4">
  <div class="card card-<%= cycle('male', 'female') %>">
    <%= image_tag user.try(:image_url) %>
    <div class="card-block">
      <h4 class="card-title"><%= user.try(:name) %></h4>
      <p><%= user.try(:email) %></p>
      <% if is_friend?(user.id) %>
        <%= link_to 'Send message', new_message_path(:receiver_id => user.id), class: 'btn btn-primary btn-sm' %>
        <%= link_to 'Unfriend', unfriend_path(:to_id => user.id), class: 'btn btn-link btn-sm' %>
      <% else %>
        <%= link_to 'Add friend', add_friend_path(:to_id => user.id), class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
